<ul class="navbar-nav">
  <li class="nav-item d-flex align-items-center">
    <app-theme-toggle></app-theme-toggle>
  </li>
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown" class="d-flex align-items-center">
        <i class="icon feather icon-user"></i>
        <span class="ms-1 d-none d-sm-inline">ユーザー</span>
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-body">
          <li>
            <a href="javascript:" class="dropdown-item" (click)="logout()">
              <i class="feather icon-log-out"></i>
              ログアウト
            </a>
          </li>
        </div>
      </div>
    </div>
  </li>
</ul>
